table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.submit{
  display: block;
}

caption{
  background-color: #69306D;
  color:white;
  font-size: 20px;
  padding-left: 20px;
  text-align: center;
}

.heading{
  background-color: #69306D;
  color:white;
  font-size: 20px;
  text-align: center;
  padding:10px;
  margin-top: 0px;
}

#schedule, #addTrain {
  border: 2px solid #69306D;
  margin: 10px;
}
.formHead{
  padding:10px;
}

h1{
  background-color: #69306D;
  color:white;
  text-align: center;
  margin-top: 0px;
  padding:20px;
}
.submit{
  border:none;
  background-color: #69306D;
  padding:10px;
  color:white;
  margin-top: 30px;
  border-radius: 5px;
  width:100%;
}

.elem{
  margin: 10px;
}
.inputSlot{
  width:100%;
}
/* NOTE: color pallete link : https://coolors.co/f2d7ee-d3bcc0-a5668b-69306d-0e103d */
